:root{
    --grey-100: hsl(0, 2%, 7%);
    --grey-200: hsl(0, 2%, 12%);
    --grey-300: hsl(0, 2%, 18%);
    --grey-400: hsl(0, 2%, 24%);
    --grey-500: hsl(0, 2%, 30%);

    --red-300: hsl(0, 71.3%, 56.3%);

    --main-font-color: white;

    
}